!!!5
html
	head
		title #{title} | notPHP
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/css/bootstrap.min.css")
	body
		div.navbar
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") notPHP
					div.nav-collapse(id="main-menu")
						ul.nav(id="main-menu-left")
							li 
								a(href="https://bitbucket.org/brnrd/notPHP", target="_blank") Code
		div.container
			div.row
				block content


		footer.footer(style="text-align=")
			div.container
				p Made with love by 
					a(target="_blank", href="https://bitbucket.org/brnrd/") brnrd